KUBE_JOIN_COMMAND=${kube_join_command}


################################################
## Setup firewall rules                       ##
################################################

firewall-cmd --zone=public --permanent --add-port={10250,30000-32767}/tcp
firewall-cmd --reload

################################################
## Join cluster                               ##
################################################

$KUBE_JOIN_COMMAND
