# VM setup

storage_pool_path       = "/tmp/vms/k8s"
image_path              = "/tmp/Rocky-8-GenericCloud-LVM.latest.x86_64.qcow2"
remote_host             = "qemu+ssh://file-server.lan"
compute_name            = "rocky-k8s-hosts"
memory                  = "8192"
instance_count          = 3
cpu_cores               = 8
network_bridge          = "ovirtmgmt"
root_password           = "changeme"
domain_suffix           = "siomporas.com"
el_version              = "8"

# Kubernetes settings
cloudflare_global_api_key = ""
cloudflare_email        = "richietommy@yahoo.com"
cert_chain              = "/etc/letsencrypt/live/siomporas.com/chain.pem"
cert_full_chain         = "/etc/letsencrypt/live/siomporas.com/fullchain.pem"
cert_cert               = "/etc/letsencrypt/live/siomporas.com/cert.pem"
cert_private_key        = "/etc/letsencrypt/live/siomporas.com/privkey.pem"
nfs_server              = "vm-host.siomporas.com"
nfs_path                = "/nfs/exports/kubernetes"
nfs_provision_name      = "siomporas.com/nfs"
start_ip                = "192.168.1.207"
end_ip                  = "192.168.1.246"
vip_ip                  = "192.168.1.206"
base_arch               = "x86_64"
aarch                   = "amd64"
containerd_version      = "1.6.24-3.1.el8"
helm_version            = "3.12.3"
gitlab_ip               = "192.168.1.220"
workloads_on_control_plane = true
setup_vip_lb            = true
setup_nfs_provisioner   = true
setup_tls_secrets       = true
setup_cert_manager      = false
setup_gitlab            = false

ssh_authorized_keys     = [
    "ssh-rsa ...= root@vm-host.siomporas.com"
    ]