# Change these. Or don't, I dont' care
MYSQL_ROOT_PW=abcd1234
MYSQL_CS_UN=cloudstack
MYSQL_CS_PW=4321dcba
# If you wish to use a different folder for a default NFS export for cloudstack, set it here
CLOUDSTACK_NFS=/nfs/exports/cloudstack
CLOUDSTACK_VERSION=4.15
BR=br1
# The name of the physical NIC network manager gave you
NIC=enp3s0
VBR=cloudbr0
# The IP address of your "cloud"
IP=192.168.1.210
# Your default route/gateway
GW=192.168.1.1
# Your DNS Server
DNS=192.168.1.201


URL="http://$IP:8080/client/api"
### See STEP 6 - log into the web GUI on http://host-ip-or-name:8080/client/#/user/login?redirect=%2F (username: admin, password: password) -> 
#####              Accounts -> View Users (middle pane) -> admin -> generate keys (button in upper right) -> okay -> 
#####              copy api key and secret keys to .env file, API_KEY and SECRET_KEY values respectively
API_KEY="$(base64urlencoded_maybe_text_goes_here_from_instructions_above)"
SECRET_KEY="$(base64urlencoded_maybe_text_goes_here_from_instructions_above)"
# You will probably want to change the cloudstack admin password after install, but this is the default, no need to change it here, that is what it comes with - this is just for reference
USERNAME="admin"
PASSWORD="password"
PROFILE_NM=homelab
VM_HOST_UN=root
VM_HOST_PW=$(this_is_the_root_password_to_your_home_lab_machine)
NMASK=255.255.255.0
# Exertnal DNS, you probably want google, this or 4.4.4.4
EXT_DNS=8.8.8.8
# If you already have NFS storage on your network set the host or IPs and export paths here
PRI_NFS=$IP
PRI_MNT=nfs/exports/cloudstack/data
SEC_NFS=$IP
SEC_MNT=nfs/exports/cloudstack/resources
VNI_STRT=50
VNI_END=70
# What IP range do you want your pods registered to? 
POD_IP_START=192.168.1.205
POD_IP_END=192.168.1.220
ST_IP_START=192.168.1.201
ST_IP_END=192.168.1.202
# If you plan on exposing this to the world, this is public IP setup, not really sure what it does, godspeed
PUB_GW=183.66.53.1
PUB_ST_IP=183.66.53.11
PUB_ED_IP=183.66.53.11
HYPERVISOR=KVM
ZONE_NM=zone001
NET_NM=network001
CLUSTER_NM=cluster001
POD_NM=pod001