# Change these. Or don't, I don't care
MYSQL_ROOT_PW=abcd1234
MYSQL_CS_UN=cloudstack
MYSQL_CS_PW=4321dcba
# If you wish to use a different folder for a default NFS export for cloudstack, set it here
CLOUDSTACK_NFS=/nfs/exports/cloudstack
CLOUDSTACK_VERSION=4.17
BR=cloudbr0
# The name of the physical NIC network manager gave you - if no bridges have been setup, `route | grep '^default' | grep -o '[^ ]*$'` 
NIC=enp3s0
# The IP address of your "cloud" host, e.g. the machine you will run this script on     - uncomment if not using "create_env.sh" and provide your own value
#IP=192.168.1.210
# Your default route/gateway                                                            - uncomment if not using "create_env.sh" and provide your own value
#GW=192.168.1.1
# Your DNS Server                                                                       - uncomment if not using "create_env.sh" and provide your own value
#DNS=192.168.1.201
UI_RETRIES=120


# You will probably want to change the cloudstack admin password after install, but leave this as is for the install process or everything will break
USERNAME="admin"
PASSWORD="password"
PROFILE_NM=homelab
VM_HOST_UN=root
# this_is_the_root_password_to_your_home_lab_machine                                    - uncomment if not using "create_env.sh" and provide your own value
#VM_HOST_PW=
NMASK=255.255.255.0
# Exertnal DNS, you probably want google, this or 4.4.4.4
EXT_DNS=8.8.8.8
# If you already have NFS storage on your network set the host or IPs and export paths here, otherwise leave blank and it will use the NFS exports from the current hosts
PRI_NFS=
PRI_MNT=nfs/exports/cloudstack/data
SEC_NFS=
SEC_MNT=nfs/exports/cloudstack/resources
# What IP range do you want your pods registered to? 
POD_IP_START=192.168.1.211
POD_IP_END=192.168.1.220
VLAN_IP_START=192.168.1.221
VLAN_IP_END=192.168.1.230
HYPERVISOR=KVM
ZONE_NM=zone001
NET_NM=network001
CLUSTER_NM=cluster001
POD_NM=pod001
