# oVirt cluster
url                     = "https://vm-manager.siomporas.com/ovirt-engine/api"   # Your oVirt engine API server
username                = "admin@internal"
password                = "*password*"
tls_insecure            = "true"                                                # If you don't have TLS properly configured for oVirt engine, set this to true
cluster_id              = "c0769f3c-9c03-11ec-bc0d-00163e448789"                # GET https://vm-manager.siomporas.com/ovirt-engine/api/clusters /clusters/cluster.id

# compute settings
memory                  = "4294967296"
maximum_memory          = "6442450944"
domain_suffix           = ".siomporas.com"
cpu_cores               = "4"
cpu_sockets             = "1"
cpu_threads             = "2"
vnic_profile_id         = "0000000a-000a-000a-000a-000000000398"                # GET https://vm-manager.siomporas.com/ovirt-engine/api/vnicprofiles
template_id             = "aceb058e-5689-49d3-a9d6-4caae908e34c"                # GET https://vm-manager.siomporas.com/ovirt-engine/api/templates /templates/template.id

# Kubernetes settings
nfs_server              = "vm-host.siomporas.com"
nfs_path                = "/working/kubernetes-data"
nfs_provision_name      = "siomporas.com/nfs"
start_ip                = "192.168.1.220"
end_ip                  = "192.168.1.225"
base_arch               = "x86_64"
aarch                   = "amd64"
containerd_version      = "1.6.6-3.1.el8"
helm_version            = "3.9.0"
metallb_version         = "0.13.3"

ssh_authorized_keys     = [
    "ssh-rsa *base64EncodedKey* rich@rich-xp-new"
    ]


initialization_commands = [
    "echo &#39;password&#39; | passwd --stdin root"
    ]