helm repo add gitlab https://charts.gitlab.io/
helm upgrade --install gitlab gitlab/gitlab \
  --timeout 1800s \
  --set global.hosts.domain=gitlab.lan.siomporas.com \
  --set global.edition=ce \
  --set global.hosts.externalIP=10.10.10.10 \
  --set certmanager-issuer.email=rich@siomporas.com \
  --set postgresql.image.tag=13.6.0